{% extends 'app_prof_dev/base.html' %}
{% block title %}{{ product.title }}{% endblock title %}
{% block content %}

    <div class="container-fluid">
    <div class="container px-4 py-4">
        <article class="blog-post">
        <h2 class="display-5 link-body-emphasis mb-1">{{ product.title }}</h2>
        <hr>
            <img src="{{ product.image.url }}" alt="" class="float-start me-3" width="400">
        <p class="font-weight-light">{{ product.body|linebreaks }}</p>
      </article>
    </div>
    </div>

{% endblock content %}

