{% extends 'index.html' %}
{% block content %}
    <main id="main">
        <!-- Hero -->
        <div class="position-relative d-flex align-items-center text-white min-vh-75 overflow-hidden"
             style="background: linear-gradient(360deg, #066ac9 0%, #064f8a 100%)">
            <div class="container mb-5 py-5">
                <div class="col-lg-10 text-center mx-auto">
                    <h1 class="display-4 mb-4">Оценка профессиональных рисков</h1>
                    <p class="lead">Это процесс идентификации и анализа потенциальных опасностей, которые могут возникнуть на рабочем месте, с целью определения степени риска для здоровья и безопасности работников.</p>
                    <a class="btn btn-light btn-lg rounded-pill" href="#">Подать заявку</a>
                </div>
            </div>
        </div>

        <div class="container py-3 pt-lg-4">
            <div class="row justify-content-around align-items-start gy-4">
                <div class="col-md-8 col-xl-7">
                    <h2>Об услуге</h2>
                    <p class="lead">В ходе оценки профессиональных рисков выявляются факторы, способные привести к производственному травматизму, развитию профессиональных заболеваний, снижению производительности труда и другим негативным последствиям.</p>

                    <div class="theme-description">
                        <h3>Что входит:</h3>
                        <ul>
                            <li>идентификация вредных и опасных производственных факторов на конкретном рабочем месте</li>
                            <li>расчёт уровней профессиональных рисков для установленных факторов</li>
                            <li>разработка корректирующих мер по снижению уровней проф. рисков</li>
                        </ul>
                        <h3>Разрабатываемая документация:</h3>
                        <ul>
                            <li>Положение о системе идентификации, оценки и управления профессиональными рисками</li>
                            <li>Карты идентификации, карты оценки и карты управления профессиональными рисками (разрабатываются отдельно для каждой должности)</li>
                            <li>Реестр опасностей</li>
                            <li>План управления рисками</li>
                            <li>Отчет о проведении оценки профессиональных рисков</li>
                            <li>Приказ о разработке плана мероприятий по снижению и улучшению условий труда на рабочем месте по результатам проведенной оценки рисков</li>
                            <li>План мероприятий по снижению рисков; сводная ведомость идентификации и оценки рисков</li>
                        </ul>
                        <h3>Обоснование:</h3>
                        <ul>
                            <li>Статьи 209, 212 Трудового Кодекса РФ (№ 197-ФЗ)</li>
                            <li>Пункт 33 Приказа Министерства труда и социальной защиты РФ от 19.08.2016 № 438н «Об утверждении Типового положения о системе управления охраной труда»</li>
                            <li>Приказ Федеральной службы по труду и занятости от 21 марта 2019 г. № 77 «Методические рекомендации по проверке создания и обеспечения функционирования системы управления охраной труда»</li>
                        </ul>
                        <h3>Ответственность</h3>
                        <p>Отказ от проведения или неадекватное проведение оценки профессиональных рисков является нарушением государственных нормативных требований охраны труда, содержащихся в Федеральных Законах и приведённых выше нормативных правовых актах РФ и, согласно части 1 статьи 5.27.1. КоАП РФ, влечет предупреждение или наложение административного штрафа.</p>
                    </div>
                </div>

                <div class="col-md-4 col-xl-3">
                    <aside class="bg-white shadow rounded text-center">
                        <dl class="mb-0">
                            <dt class="fw-light text-uppercase mb-2 pt-4">Сроки исполнения</dt>
                            <dd class="h4 border-bottom mb-0 pb-4">до 5 дней</dd>
                            <dt class="fw-light text-uppercase mb-2 pt-4">Стоимость</dt>
                            <dd class="h4 border-bottom mb-0 pb-4">от 500 руб.</dd>
                            <dt class="fw-light text-uppercase mb-2 pt-4">Рейтинг</dt>
                            <dd class="h4 mb-0 pb-4">4.5/5.0</dd>
                        </dl>
                    </aside>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}