{% extends 'index.html' %}
{% block content %}
    <main id="main">
        <!-- Hero -->
        <div class="position-relative d-flex align-items-center text-white min-vh-75 overflow-hidden"
             style="background: linear-gradient(360deg, #066ac9 0%, #064f8a 100%)">
            <div class="container mb-5 py-5">
                <div class="col-lg-10 text-center mx-auto">
                    <h1 class="display-4 mb-4">Разработка комплекта документов</h1>
                    <p class="lead">Это процесс создания комплекса нормативных актов, регулирующих вопросы безопасности и охраны труда на предприятии.</p>
                    <a class="btn btn-light btn-lg rounded-pill" href="#">Подать заявку</a>
                </div>
            </div>
        </div>

        <div class="container py-3 pt-lg-4">
            <div class="row justify-content-around align-items-start gy-4">
                <div class="col-md-8 col-xl-7">
                    <h2>Об услуге</h2>
                    <p class="lead">В пакет документов по охране труда входят все локально-нормативные акты, приказы,
                        положения, инструкции, а также программы обучения, соответствующие регламенту действующего
                        законодательства.
                    </p>
                    <div class="theme-description">
                        <h3>Что входит:</h3>
                        <ul>
                            <li>Приказы, связанные с вопросами охраны труда</li>
                            <li>Положение о системе управления охраной труда</li>
                            <li>Положения, связанные с вопросами охраны труда (Стажировки, Микротравмы, СИЗ, СОС, НС,
                                Обучение, Медосмотры, Профриски и т.д.)
                            </li>
                            <li>Инструкции по охране труда по профессиям и видам работ</li>
                            <li>Комплект Журналов по охране труда и пожарной безопасности:</li>
                            <ul>
                                <li>Журнал регистрации вводного инструктажа по охране труда</li>
                                <li>Журнал регистрации инструктажа на рабочем месте</li>
                                <li>Журнал регистрации инструктажа по пожарной безопасности</li>
                                <li>Журнал регистрации огнетушителей</li>
                                <li>Журнал учета присвоения группы 1 по электробезопасности не электротехническому
                                    персоналу
                                </li>
                                <li>Журнал учета инструкций по охране труда (при необходимости)</li>
                                <li>Журнал учета выдачи инструкций по охране труда (при необходимости)</li>
                                <li>Журнал учета микроповреждений (микротравм)</li>
                                <li>Журнал эксплуатации систем противопожарной защиты</li>
                            </ul>
                            <li>Обучение требованиям охраны труда:</li>
                            <ul>
                                <li>В случае принятия работодателем решения о проведении обучения требованиям охраны
                                    труда с привлечением специализированной сторонней организации (учебного центра), без
                                    подачи уведомления о намерении обучения своих сотрудников требованиям охраны труда
                                    внутри предприятия и ведение и внесение информации в реестр обученных лиц Единой
                                    информационной системы по охране труда Минтруда России (ЕИСОТ):
                                </li>
                                <ul>
                                    <li>Приказ об организации обучения по охране труда</li>
                                    <li>Положение о порядке обучения</li>
                                    <li>Перечень и категории работников, подлежащих обучению по охране труда по
                                        соответствующим программам обучения
                                    </li>
                                    <li>График проведения обучения требованиям охраны труда (при необходимости)</li>
                                </ul>
                                <li>В случае принятия работодателем решения о проведении обучения требованиям охраны
                                    труда своих работников без привлечения учебного центра (с учетом минимального
                                    количества лиц, обученных в учебном центре, в соответствии с Постановлением
                                    Правительства РФ от 24.12.2021 N 2464 "О порядке обучения по охране труда и проверки
                                    знания требований охраны труда"):
                                </li>
                                <ul>
                                    <li>Локальные нормативные акты: по организации обучения по охране труда; о создании
                                        единой, либо специализированных комиссий по проверке знания требований охраны
                                        труда; положение о порядке обучения по охране труда и т.д.
                                    </li>
                                    <li>Документы для обучения и проверки знаний работников предприятия по охране труда
                                        (внутри предприятия):
                                    </li>
                                    <ul>
                                        <li>программы обучения безопасным методам и приемам выполнения работ при
                                            воздействии вредных или опасных производственных факторов и источников
                                            опасности по профессиям и (или) видам работ (программа Б)
                                        </li>
                                        <li>программы обучения Безопасные методы и приемы выполнения работ повышенной
                                            опасности по видам работ повышенной опасности (программа В
                                        </li>
                                        <li>программа обучения по оказанию первой помощи пострадавшим</li>
                                        <li>программа обучения по использованию (применению) средств индивидуальной
                                            защиты, применение которых требует от работников практических навыков
                                        </li>
                                        <li>протоколы проверки знаний по охране труда</li>
                                        <li>Информационная и методическая поддержка при внесении работодателем сведений
                                            в реестр обученных лиц (ЕИСОТ)
                                        </li>
                                    </ul>
                                </ul>
                            </ul>
                            <li>Разработка программ:</li>
                            <ul>
                                <li>вводного инструктажа по охране труда</li>
                                <li>вводного инструктажа по пожарной безопасности</li>
                                <li>инструктажей на рабочем месте (при необходимости)</li>
                                <li>программы стажировки по охране труда (при необходимости)</li>
                                <li>программа инструктажа на 1 группу по электробезопасности</li>
                            </ul>
                            <li>План мероприятий улучшению условий и охране труда на текущий год</li>
                            <li>Перечень должностей и профессий, которым присваивается 1 группа по электробезопасности.
                                Порядок присвоения 1 группы электробезопасности не электротехническому персоналу
                            </li>
                            <li>Порядок прохождения предварительных и периодических медицинских осмотров работников.
                                Документы для прохождения психиатрического освидетельствования работников
                            </li>
                            <li>Приказы, связанные с вопросами пожарной безопасности</li>
                            <li>Инструкции о мерах пожарной безопасности</li>
                            <li>Консультации по всем вопросам охраны труда и пожарной безопасности</li>
                        </ul>
                        <h3>Ответственность</h3>
                        <p>В соответствии со статьей 5.27 КоАП РФ штрафные санкции для должностных и юридических лиц могут
                            варьироваться:</p>
                        <ul>
                            <li>от 1 000 до 50 000 при выявлении отклонений от законодательных нормативов, установленных
                                в сфере охраны труда
                            </li>
                            <li>т 5 000 до 80 000 за отсутствие или отступление от регламента проведения СОУТ</li>
                            <li>от 10 000 до 100 000 за пренебрежительное отношение к проведению медосмотров</li>
                            <li>от 15 000 до 130 000 недостаток или отсутствие занятий по охране труда</li>
                        </ul>

                    </div>
                </div>

                <div class="col-md-4 col-xl-3">
                    <aside class="bg-white shadow rounded text-center">
                        <dl class="mb-0">
                            <dt class="fw-light text-uppercase mb-2 pt-4">Сроки исполнения</dt>
                            <dd class="h4 border-bottom mb-0 pb-4">до 10 дней</dd>
                            <dt class="fw-light text-uppercase mb-2 pt-4">Стоимость</dt>
                            <dd class="h4 border-bottom mb-0 pb-4">от 10 000 руб.</dd>
                            <dt class="fw-light text-uppercase mb-2 pt-4">Рейтинг</dt>
                            <dd class="h4 mb-0 pb-4">4.5/5.0</dd>
                        </dl>
                    </aside>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}