{% extends 'index.html' %}
{% block metrica %}
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            for (var j = 0; j < document.scripts.length; j++) {
                if (document.scripts[j].src === r) {
                    return;
                }
            }
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(95213981, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/95213981" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
{% endblock metrica %}
{% block description %}
    <meta name="description" content="Специальная оценка условий труда - это процедура, проводимая с целью выявления
вредных и опасных факторов на рабочих местах и разработки мероприятий по их устранению или снижению. Она проводится
в соответствии с законодательством Российской Федерации и учитывает все требования и нормы в области охраны труда.">
{% endblock description %}
{% block title %}Специальная оценка условий труда{% endblock title %}
{% block content %}
    <main id="main">
        <!-- Hero -->
        <div class="position-relative d-flex align-items-center text-white min-vh-75 overflow-hidden"
             style="background: linear-gradient(360deg, #066ac9 0%, #064f8a 100%)">
            <div class="container mb-5 py-5">
                <div class="col-lg-10 text-center mx-auto">
                    <h1 class="display-4 mb-4">Специальная оценка условий труда</h1>
                    <p class="lead">Это комплекс мероприятий, направленных на изучение факторов производственной среды и
                        трудового процесса с целью выявления вредных и опасных производственных факторов и оценки их
                        воздействия на здоровье работников.</p>
                    <a class="btn btn-light btn-lg rounded-pill" href="#">Подать заявку</a>
                </div>
            </div>
        </div>
        <div class="container py-3 pt-lg-4">
            <div class="row justify-content-around align-items-start gy-4">
                <div class="col-md-8 col-xl-7">
                    <h2>Об услуге</h2>
                    <p class="lead">Проведение специальной оценки условий труда позволяет определить степень воздействия
                        этих факторов на работников и разработать меры по снижению их негативного влияния.</p>
                    <div class="theme-description">
                        <h3>Описание:</h3>
                        <p>Организовывать и проводить мероприятия по СОУТ обязаны все работодатели, включая ИП
                            нанимающих людей на работу. Оценка уровня воздействия негативных факторов может проводиться
                            как планово, так и внепланово в следующих ситуациях:</p>
                        <ul>
                            <li>несчастный случай;</li>
                            <li>у работника (работников) выявлено профзаболевание причиной которого стали негативные
                                производственные факторы;
                            </li>
                            <li>по требованию профсоюза;</li>
                            <li>при получении работодателем предписания от Госинспекции труда.</li>
                        </ul>
                        <p>В зависимости от установленного по итогам СОУТ класса условий труда для работников, занятых
                            на работах с вредными и (или) опасными условиями труда, определяется номенклатура гарантий и
                            компенсаций, предусмотренных действующим законодательством.</p>
                        <p>СОУТ представляет собой ряд мероприятий по идентификации вредных и (или) опасных факторов
                            производственной среды и трудового процесса и оценке уровня их воздействия на работников,
                            путем проведения соответствующих исследований (испытаний) и измерений и сравнения измеренных
                            значений с установленными нормативами согласно «Методике проведения специальной оценки
                            условий труда», утверждённой Приказом Минтруда РФ от 24.01.2014 г. №33н и прямо указанных в
                            ней документов.</p>
                        <p>Спецоценка в организациях заменила аттестацию рабочих мест (АРМ). В целом она ее повторяет,
                            но есть ряд существенных изменений. Этот факт заставляет работодателей изучить
                            соответствующие нормативные правовые акты, чтобы не попасть в будущем под административную
                            ответственность.</p>
                        <p>Оценочные действия и составление документов на заводах, в учреждениях и на предприятиях
                            проводятся с образованием специальной комиссии и привлечением к работе экспертной
                            организации, включенной в реестр Минтруда РФ.</p>
                        <h3>Ответственность</h3>
                        <p>В случае уклонения или некачественного проведения СОУТ физические и юридические лица могут
                            быть привлечены к административной ответственности в соответствии с нормами КоАП.</p>
                    </div>
                </div>
                <div class="col-md-4 col-xl-3">
                    <aside class="bg-white shadow rounded text-center">
                        <dl class="mb-0">
                            <dt class="fw-light text-uppercase mb-2 pt-4">Сроки исполнения</dt>
                            <dd class="h4 border-bottom mb-0 pb-4">до 14 дней</dd>
                            <dt class="fw-light text-uppercase mb-2 pt-4">Стоимость</dt>
                            <dd class="h4 border-bottom mb-0 pb-4">от 1 500 руб.</dd>
                            <dt class="fw-light text-uppercase mb-2 pt-4">Рейтинг</dt>
                            <dd class="h4 mb-0 pb-4">4.5/5.0</dd>
                        </dl>
                    </aside>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}