{% extends 'index.html' %}
{% block content %}
    <main id="main">
        <!-- Hero -->
        <div class="position-relative d-flex align-items-center text-white min-vh-75 overflow-hidden"
             style="background: linear-gradient(360deg, #066ac9 0%, #064f8a 100%)">
            <div class="container mb-5 py-5">
                <div class="col-lg-10 text-center mx-auto">
                    <h1 class="display-4 mb-4">Аутсорсинг по охране труда</h1>
                    <p class="lead">Это передача функций по обеспечению безопасности и охране труда сторонней организации или специалисту, обладающему необходимыми знаниями, навыками и опытом.</p>
                    <a class="btn btn-light btn-lg rounded-pill" href="#">Подать заявку</a>
                </div>
            </div>
        </div>

        <div class="container py-3 pt-lg-4">
            <div class="row justify-content-around align-items-start gy-4">
                <div class="col-md-8 col-xl-7">
                    <h2>Об услуге</h2>
                    <p class="lead">Мы выполняем функции специалиста по охране труда. Передача функций (полностью или частично) выполняется на основании заключенного договора.</p>
                    <h2>Внимание</h2>
                    <p class="lead">В стоимость услуг входит обучение Ваших действующих и вновь принимаемых сотрудников требованиям охраны труда и оказанию первой помощи.</p>

                    <div class="theme-description">
                        <h3>Что входит:</h3>
                        <ul>
                            <li>Проверка наличия, правильности оформления и, при необходимости, разработка локальных нормативных документов организации:</li>
                            <ul>
                                <li>инструкций по охране труда, согласно штатному расписанию и перечню выполняемых работ</li>
                                <li>приказов руководителя организации по вопросам охраны труда</li>
                                <li>программ обучения работников организации согласно штатному расписанию и видов выполняемых работ (при необходимости)</li>
                                <li>программ инструктажей по профессиям или видам работ (при необходимости)</li>
                                <li>положений о системе управления охраной труда, СИЗ, медосмотрах, НС, и т.д.</li>
                                <li>необходимых журналов по охране труда</li>
                                <li>документов, связанных с проведением оценки профессиональных рисков</li>
                                <li>обучения требованиям охраны труда</li>
                            </ul>
                            <li>Контроль проведения инструктажей работников предприятия с отметкой в соответствующих журналах</li>
                            <li>Оформление и контроль ведения журналов регистрации вводного инструктажа, инструктажей на рабочем месте, учета присвоения группы I по электробезопасности неэлектротехническому персоналу, иных журналов по охране труда в соответствии со спецификой деятельности работодателя</li>
                            <li>Контроль и организация проведения обучения и проверки знаний требований охраны труда работников предприятия, руководителей и ответственных лиц предприятия в учебном центре с выдачей протоколов и занесением данных в реестр МинТруда</li>
                            <li>Оказание помощи в проведении специальной оценки условий труда</li>
                            <li>Контроль и оказание помощи в организации проведения предварительных и периодических медицинских осмотров работников организации.</li>
                            <li>Контроль, ведение и консультирование по вопросам обеспечения работников организации СИЗ и СОС на основании типовых норм</li>
                            <li>Контроль и оказание помощи в своевременном и правильном ведении документации по вопросам охраны труда на предприятии</li>
                            <li>Оказание помощи в планировании мероприятий по охране труда и контроль выполнения</li>
                            <li>Оказание помощи в выполнении предписаний и представлений вышестоящих органов надзора руководителю организации</li>
                            <li>Выборочное внеплановое осуществление проверки отдельных вопросов соблюдения на предприятии законодательства об охране труда</li>
                            <li>Оказание помощи комиссии в расследовании несчастных случаев, травматизма, оформлении актов о несчастных случаях и материалов расследования, сдаче документов в контролирующие органы</li>
                            <li>Доведение до Заказчика нововведений или изменений в действующем законодательстве, регулирующих деятельность охраны труда на предприятии.</li>
                            <li>Консультирование Заказчика по вопросам организации охраны труда на предприятии</li>
                            <li>Рекомендации по организации безопасных методов работы</li>
                            <li>Консультирование и оказание помощи по вопросам оборудования уголка охраны труда, контроль за наличием достоверной, актуальной информации и наглядной агитации</li>
                        </ul>
                        <h3>Ответственность</h3>
                        <p>Несоблюдение законодательства, касающегося вопросов охраны труда, является административным правонарушением. В соответствии со статьей 5.27.1 КоАП РФ за это полагается штраф, размер которого зависит от сути совершенного.</p>
                        <p>За повторные нарушения также предусмотрен штраф, но уже в более крупном размере.</p>
                        <p>Кроме того, сама деятельность компании может быть остановлена на период до 3 месяцев.</p>
                        <p>Если лицо, которое должно было обеспечить охрану труда, само нарушило ее требования и это нанесло тяжелый вред здоровью сотрудника, стало причиной смерти одного человека и более, это уже является уголовно наказуемым деянием. Виды наказания за такое предусмотрены статьей 143 УК РФ.</p>
                    </div>
                </div>

                <div class="col-md-4 col-xl-3">
                    <aside class="bg-white shadow rounded text-center">
                        <dl class="mb-0">
                            <dt class="fw-light text-uppercase mb-2 pt-4">Сроки исполнения</dt>
                            <dd class="h4 border-bottom mb-0 pb-4">до 10 дней</dd>
                            <dt class="fw-light text-uppercase mb-2 pt-4">Стоимость</dt>
                            <dd class="h4 border-bottom mb-0 pb-4">от 10 000 руб.</dd>
                            <dt class="fw-light text-uppercase mb-2 pt-4">Рейтинг</dt>
                            <dd class="h4 mb-0 pb-4">4.5/5.0</dd>
                        </dl>
                    </aside>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}