{% extends 'index.html' %}
{% block title %}Экологическая отчетность{% endblock title %}
{% block content %}
    <main id="main">
        <!-- Hero -->
        <div class="position-relative d-flex align-items-center text-white min-vh-75 overflow-hidden"
             style="background: linear-gradient(360deg, #066ac9 0%, #064f8a 100%)">
            <div class="container mb-5 py-5">
                <div class="col-lg-10 text-center mx-auto">
                    <h1 class="display-4 mb-4">Экологическая отчетность</h1>
                    <p class="lead">Это система сбора и обобщения информации о состоянии окружающей среды, воздействии предприятий на окружающую среду, а также мерах по предотвращению и минимизации негативного воздействия.</p>
                    <a class="btn btn-light btn-lg rounded-pill" href="#">Подать заявку</a>
                </div>
            </div>
        </div>

        <div class="container py-3 pt-lg-4">
            <div class="row justify-content-around align-items-start gy-4">
                <div class="col-md-8 col-xl-7">
                    <h2>Об услуге</h2>
                    <p class="lead">
                        Экологическая отчетность включает в себя данные о выбросах загрязняющих веществ, образовании отходов, использовании природных ресурсов и других аспектах деятельности предприятия, связанных с воздействием на окружающую среду.                    </p>
                    <div class="theme-description">
                        <h3>Виды отчётности для Росприроднадзора в 2023 году:</h3>
                        <h4>Декларация о плате за НВОС</h4>
                        <p>Вносить плату за НВОС и составлять соответствующую декларацию обязаны юрлица и ИП, которые оказывают негативное влияние на окружающую среду. Порядок сдачи этой отчётности и формы документа приведены в приказе Минприроды № 1043. Декларацию о плате за НВОС предоставляют не позднее 10 марта того года, который следует за отчётным периодом.</p>
                        <p>В зависимости от уровня негативного воздействия все предприятия распределены по категориям, указанным в постановлении № 2398. Сдавать декларацию НВОС обязаны организации, которым присвоена I, II или III категория. Фирмы, которым присвоена IV категория, освобождены от платы за НВОС и от сдачи декларации.</p>
                        <p>Если негативное влияние на окружающую среду заключается только в том, что компания оставляет твёрдые коммунальные отходы (то есть обычный мусор, например, обрезки бумаги в офисе), то за НВОС должен заплатить региональный оператор по обращению с ТКО, который занимается вывозом мусора.</p>
                        <p>Если компания допустила ошибку при заполнении документа, отправитель может подать уточнённую декларацию НВОС в течение трёх лет.</p>
                        <h4>Форма 2-ТП (отходы)</h4>
                        <p>Полное название этой формы — «Сведения об образовании, обработке, утилизации, обезвреживании, размещении отходов производства и потребления». Бланк 2-ТП (отходы) и порядок его заполнения утверждены приказом Росстата № 627. Отчёт 2-ТП сдаётся до 1 февраля года, который следует за отчётным периодом.</p>
                        <p>Форму 2-ТП (отходы) необходимо заполнять:</p>
                        <ul>
                            <li>юрлицам и ИП, которые собирают, обрабатывают, обезвреживают, транспортируют или утилизируют отходы;</li>
                            <li>операторам по обращению с ТКО (в том числе региональным операторам).</li>
                        </ul>
                        <p>Компанию освободят от предоставления отчета 2-ТП (отходы), если предприятие произвело менее 100 кг твёрдых коммунальных отходов и заключило с региональным оператором договор об их утилизации.</p>
                        <h4>Форма 2-ТП (воздух)</h4>
                        <p>Полное название документа — «Сведения об охране атмосферного воздуха». Образец Отчёта 2-ТП воздух и указания по его заполнению даны в приказе Росстата № 661. Форму отчёта 2-ТП воздух предоставляют не позднее 22 января года, который следует за отчётным.</p>
                        <p>Отчёт 2-ТП (воздух) сдают юрлица и ИП, которые:</p>
                        <ul>
                            <li>выделяют в год более десяти тонн загрязняющих веществ;</li>
                            <li>выделяют в год от пяти до десяти тонн загрязняющих веществ, в составе которых выбросы 1 или 2 класса опасности.</li>
                        </ul>
                        <h4>2-ТП (рекультивация)</h4>
                        <p>Официальное название этой формы — «Сведения о рекультивации земель, снятии и использовании плодородного слоя почвы». Документ утверждён приказом Росстата № 676. Форму 2-ТП (рекультивация) необходимо сдавать до 1 февраля того года, который следует за отчётным периодом.</p>
                        <p>Отправлять документ должны организации и ИП, которые:</p>
                        <ul>
                            <li>разрабатывают месторождения полезных ископаемых;</li>
                            <li>занимаются изыскательскими, строительными, мелиоративными и лесозаготовительными работами;</li>
                            <li>осуществляют размещение промышленных, строительных и твёрдых бытовых отходов.</li>
                        </ul>
                        <h4>Отчёт ПЭК</h4>
                        <p>Отчёт об организации и результатах производственного экологического контроля (ПЭК) сдают юрлица и ИП, которые получили I, II и III категорию НВОС в области:</p>
                        <ul>
                            <li>охраны атмосферного воздуха;</li>
                            <li>охраны и использования водных объектов;</li>
                            <li>обращения с отходами.</li>
                        </ul>
                        <p>Согласно статье 15 закона № 96-ФЗ, в отчёт ПЭК нужно включить сведения о фактическом объёме или массе выбросов загрязняющих веществ в атмосферный воздух. Форма отчёта ПЭК и порядок его предоставления приведены в приказе Минприроды № 261. Сведения сдают до 25 марта года, который следует за отчётным.</p>
                        <h4>Декларация о количестве выпущенных товаров и упаковки и Отчёт о выполнении нормативов утилизации</h4>
                        <p>Полное название формы — «Декларация о количестве выпущенных в обращение на территории РФ товаров, упаковки товаров, включённых в перечень товаров, упаковки товаров, подлежащих утилизации после утраты ими потребительских свойств, реализованных для внутреннего потребления на территории РФ». Подробные сведения о декларации и отчёте приведены в постановлении правительства № 1417.</p>
                        <p>Заполнять декларацию о количестве выпущенных товаров и упаковки обязаны все организации и ИП, которые производят в России или ввозят в страну товары и упаковку, подлежащие утилизации после использования. Перечень этой продукции дан в распоряжении правительства № 3721-р. Сдавать документы нужно до 1 апреля года, который следует за отчётным периодом.</p>
                        <p>Организации обязаны выполнять норматив по утилизации отходов. Если условия по утилизации не выполнены, компания выплачивает экологический сбор.</p>
                        <p>При перевыполнении норматива по утилизации в предыдущем календарном году норматив на текущий календарный год уменьшается. Если упаковка произведена из вторичного сырья, то к нормативу утилизации применяется понижающий коэффициент.</p>
                        <h4>Технический отчёт по обращению с отходами</h4>
                        <p>Форма этого отчёта зависит от того, к какой группе НВОС относится предприятие. Компании, относящиеся к I категории, разрабатывают отчёт по обращению с отходами, отталкиваясь от Проекта нормативов образования отходов и лимитов на их размещение. Организации II категории сдают все сведения в составе декларации о воздействии на окружающую среду. Предприятия III категории формируют отчётность об образовании, использовании, обезвреживании, о размещении отходов.</p>
                        <p>Сдача документов происходит до 25 марта года, который следует за отчётным. Форма и порядок предоставления указаны в статье 18 закона № 89-ФЗ и статье 4.2 закона № 7-ФЗ.</p>
                        <h4>Отчёт о результатах мониторинга состояния и загрязнения окружающей среды</h4>
                        <p>Полное название этой формы — «Отчёт о результатах мониторинга состояния и загрязнения окружающей среды на территориях объектов размещения отходов и в пределах их воздействия на окружающую среду». Документ утверждён приказом Минприроды № 1030.</p>
                        <p>Этот отчёт сдают только те предприниматели и юрлица, которые владеют объектами размещения отходов (мусорными полигонами, шламохранилищами) или арендуют такие объекты. Сдавать отчёт о результатах мониторинга состояния и загрязнения окружающей среды нужно каждый год до 15 января года, следующего за отчётным.</p>
                        <h4>Декларация о воздействии на окружающую среду</h4>
                        <p>Декларацию о негативном воздействии на окружающую среду обязаны подавать организации и ИП, которые осуществляют деятельность на объектах II категории, то есть оказывают умеренное негативное воздействие на окружающую среду. Как указано в статье 18 закона № 89-ФЗ, в декларацию нужно внести сведения об обращении с отходами. Подробная информация об этой форме дана в статье 31.2 закона № 7-ФЗ.</p>
                        <p>В отличие от остальных документов, декларация о воздействии на окружающую среду подаётся не каждый год. Если в условиях работы компании ничего не меняется, форму достаточно подавать раз в семь лет.</p>
                        <h4>Расчёт по экологическому сбору</h4>
                        <p>Содержание и форму расчёта по экологическому сбору регулирует приказ Росприроднадзора № 488. Сдавать расчёт необходимо до 15 апреля года, следующего за отчётным периодом.</p>
                        <p>Чтобы выполнить расчёт и заплатить экологический сбор, предприниматель должен умножить ставку экосбора на актуальный норматив утилизации и на массу товара, выпущенного в обращение за календарный год, который предшествовал отчётному периоду.</p>
                        <p>Если в расчётах по экологическому сбору будет допущена ошибка, ведомство направит отправителю специальный акт. Организация или ИП обязаны предоставить пояснения или исправить ошибку в течение 10 рабочих дней со дня получения этого акта. В случае неуплаты нужно погасить задолженность.</p>
                    </div>
                </div>

                <div class="col-md-4 col-xl-3">
                    <aside class="bg-white shadow rounded text-center">
                        <dl class="mb-0">
                            <dt class="fw-light text-uppercase mb-2 pt-4">Сроки исполнения</dt>
                            <dd class="h4 border-bottom mb-0 pb-4">до 5 дней</dd>
                            <dt class="fw-light text-uppercase mb-2 pt-4">Стоимость</dt>
                            <dd class="h4 border-bottom mb-0 pb-4">от 2 000 руб.</dd>
                            <dt class="fw-light text-uppercase mb-2 pt-4">Рейтинг</dt>
                            <dd class="h4 mb-0 pb-4">4.5/5.0</dd>
                        </dl>
                    </aside>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}