{% extends 'index.html' %}
{% block metrica %}
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            for (var j = 0; j < document.scripts.length; j++) {
                if (document.scripts[j].src === r) {
                    return;
                }
            }
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(95213981, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/95213981" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
{% endblock metrica %}
{% block description %}
    <meta name="description" content="Мероприятия по уменьшению выбросов - это комплекс мер, направленных на снижение
количества загрязняющих веществ, выбрасываемых в атмосферу. Они могут включать в себя использование более
экологичных источников энергии, улучшение системы очистки выбросов, а также внедрение новых технологий. Проведение
таких мероприятий помогает снизить негативное воздействие на окружающую среду и улучшить качество воздуха.">
{% endblock description %}
{% block title %}НМУ{% endblock title %}
{% block content %}
    <main id="main">
        <!-- Hero -->
        <div class="position-relative d-flex align-items-center text-white min-vh-75 overflow-hidden"
             style="background: linear-gradient(360deg, #066ac9 0%, #064f8a 100%)">
            <div class="container mb-5 py-5">
                <div class="col-lg-10 text-center mx-auto">
                    <h1 class="display-4 mb-4">Мероприятия по уменьшению выбросов загрязняющих веществ в атмосферный
                        воздух в периоды неблагоприятных метеорологических условий</h1>
                    <p class="lead">Это действия, направленные на снижение количества вредных веществ, выбрасываемых в
                        атмосферу промышленными предприятиями.</p>
                    <a class="btn btn-light btn-lg rounded-pill" href="#">Подать заявку</a>
                </div>
            </div>
        </div>

        <div class="container py-3 pt-lg-4">
            <div class="row justify-content-around align-items-start gy-4">
                <div class="col-md-8 col-xl-7">
                    <h2>Об услуге</h2>
                    <p class="lead">
                        Мероприятия по уменьшению выбросов загрязняющих веществ в атмосферный воздух направлены на
                        снижение негативного воздействия промышленных предприятий на окружающую среду и улучшение
                        экологической обстановки в регионе.
                    </p>
                    <div class="theme-description">
                        <h3>Описание:</h3>
                        <p>Согласно п. 3 ст. 19 Федерального закона от 04.05.1999 г. № 96-ФЗ «Об охране атмосферного
                            воздуха» при получении прогнозов неблагоприятных метеорологических условий (далее - НМУ)
                            юридические лица, индивидуальные предприниматели, имеющие источники выбросов загрязняющих
                            веществ в атмосферный воздух, обязаны проводить мероприятия по уменьшению выбросов
                            загрязняющих веществ в атмосферный воздух, согласованные с органами исполнительной власти
                            субъектов РФ, уполномоченными на осуществление регионального государственного экологического
                            надзора.</p>
                        <p>Указанные требования должны выполняться на всех объектах негативного воздействия на
                            окружающую среду (НВОС), имеющих выбросы в атмосферный воздух, за исключением объектов IV
                            категории НВОС.</p>
                        <p>Необходимо отметить, что так как мероприятия по уменьшению выбросов загрязняющих веществ в
                            атмосферу в периоды НМУ требуют согласования с органами исполнительной власти субъектов РФ,
                            данные, отраженные в разделе проекта нормативов предельно-допустимых выбросов в атмосферу
                            (проекта ПДВ), не являются достаточными для удовлетворения указанного требования.
                            Мероприятия должны представлять собой отдельную работу, согласованную в установленном
                            порядке, однако расчеты, проводимые в ее составе, базируются на данных проекта ПДВ и
                            инвентаризации стационарных источников выбросов загрязняющих веществ в атмосферный
                            воздух.</p>
                        <p>В настоящий момент в ряде субъектов РФ приняты нормативно-правовые акты регионального уровня,
                            определяющие требования к мероприятиям по уменьшению выбросов загрязняющих веществ в периоды
                            НМУ, а также соответствующие административные регламенты органов исполнительной власти
                            субъектов РФ, уполномоченных на осуществление регионального государственного экологического
                            надзора.</p>
                        <p>Как правило, данные документы реализуют требования достаточно старого нормативно-правового
                            акта - РД 52.04.52-85 «Методические указания. Регулирование выбросов при неблагоприятных
                            метеорологических условиях», принятого еще в СССР.</p>
                        <p>Вместе с тем, с 27 июня 2020 г. вступили в силу требования к мероприятиям по уменьшению
                            выбросов загрязняющих веществ в атмосферный воздух в периоды НМУ, установленные Приказом
                            Минприроды России от 28.11.2019 г. № 811 «Об утверждении требований к мероприятиям по
                            уменьшению выбросов загрязняющих веществ в атмосферный воздух в периоды неблагоприятных
                            метеорологических условий». В данном документе применяются подходы, отличающиеся от принятых
                            в РД 52.04.52-85.</p>
                        <p>Целью разработки указанных мероприятий является обеспечение снижения создаваемых выбросами
                            источников приземных концентраций загрязняющих веществ совместно с другими источниками для
                            рассматриваемой контрольной точки.</p>
                        <p>При этом хозяйствующие субъекты, имеющие источники выбросов, разрабатывают мероприятия с
                            учетом степени опасности прогнозируемых НМУ:</p>
                        <ul>
                            <li>на 15-20 % при НМУ 1 степени опасности;</li>
                            <li>на 20-40 % при НМУ 2 степени опасности;</li>
                            <li>на 40-60 % при НМУ 3 степени опасности.</li>
                        </ul>
                        <p>Для объектов негативного воздействия на окружающую среду, относящихся к деятельности по
                            обеспечению электрической энергией, газом и паром, применяются менее жесткие требования,
                            связанные со спецификой осуществляемой деятельности.</p>
                        <h3>Состав готовой работы</h3>
                        <ul>
                            <li>пояснительная записка;</li>
                            <li>расчет максимальных концентраций на различных режимах НМУ и предлагаемые мероприятия;
                            </li>
                            <li>планы-графики контроля в периоды НМУ.</li>
                            <li></li>
                        </ul>
                        <p>Как видно из состава работы, обязательным элементом разработки мероприятий является
                            проведение расчета рассеивания загрязняющих веществ в атмосферном воздухе.</p>
                        <p>Стоит отметить, что при любых изменениях, в результате которых максимальные разовые выбросы
                            источника изменились более чем на 25%, мероприятия подлежат корректировке с последующим
                            согласованием.</p>
                        <h3>Ответственность</h3>
                        <p>В случае нарушения требований законодательства в части разработки и согласования мероприятий
                            по уменьшению выбросов в периоды НМУ возможна административная ответственность по ст. 8.1.
                            КоАП РФ в размере до 100 тыс. руб.</p>
                    </div>
                </div>

                <div class="col-md-4 col-xl-3">
                    <aside class="bg-white shadow rounded text-center">
                        <dl class="mb-0">
                            <dt class="fw-light text-uppercase mb-2 pt-4">Сроки исполнения</dt>
                            <dd class="h4 border-bottom mb-0 pb-4">до 60 дней</dd>
                            <dt class="fw-light text-uppercase mb-2 pt-4">Стоимость</dt>
                            <dd class="h4 border-bottom mb-0 pb-4">от 20 000 руб.</dd>
                            <dt class="fw-light text-uppercase mb-2 pt-4">Рейтинг</dt>
                            <dd class="h4 mb-0 pb-4">4.5/5.0</dd>
                        </dl>
                    </aside>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}