{% extends 'index.html' %}
{% block title %}Проект ПДВ{% endblock title %}
{% block content %}
    <main id="main">
        <!-- Hero -->
        <div class="position-relative d-flex align-items-center text-white min-vh-75 overflow-hidden"
             style="background: linear-gradient(360deg, #066ac9 0%, #064f8a 100%)">
            <div class="container mb-5 py-5">
                <div class="col-lg-10 text-center mx-auto">
                    <h1 class="display-4 mb-4">Проект предельно допустимых выбросов в атмосферу</h1>
                    <p class="lead">Это документ, который устанавливает нормы выбросов загрязняющих веществ для конкретного предприятия.</p>
                    <a class="btn btn-light btn-lg rounded-pill" href="#">Подать заявку</a>
                </div>
            </div>
        </div>

        <div class="container py-3 pt-lg-4">
            <div class="row justify-content-around align-items-start gy-4">
                <div class="col-md-8 col-xl-7">
                    <h2>Об услуге</h2>
                    <p class="lead">
                        Проект ПДВ представляет собой природоохранную документацию предприятия или организации, в рамках разработки которой промышленная площадка (объект негативного воздействия на окружающую среду) рассматривается с точки зрения создаваемого загрязнения атмосферного воздуха.
                    </p>
                    <div class="theme-description">
                        <h3>Описание:</h3>
                        <p>В проекте ПДВ составляется характеристика юридического лица как источника загрязнения атмосферы на основе инвентаризации стационарных источников выбросов загрязняющих веществ в атмосферный воздух (которая как правило выполняется в рамках проекта), анализируются концентрации загрязняющих веществ на границе ближайших нормируемых территорий (жилые дома, санитарно-защитная зона и т.д.), определяются нормативы ПДВ, разрабатываются мероприятия по регулированию выбросов при неблагоприятных метеорологических условиях (НМУ), формируется план-график контроля соблюдения нормативов ПДВ.</p>
                        <p>Основной задачей проекта ПДВ является установление таких ПДВ, чтобы максимальная приземная концентрация по всем веществам, выбрасываемым юридическим лицом в атмосферу, не превышала санитарно-гигиенических нормативов (в том числе с учетом фоновой концентрации загрязняющих веществ формируемых сторонними предприятиями).</p>
                        <p>C 1 января 2019 года вступили в силу измененные положения Федерального закона «Об охране окружающей среды» от 10.01.2002 г. № 7-ФЗ и Федерального закона «Об охране атмосферного воздуха» от 04.05.1999 г. № 96-ФЗ, в соответствии с которыми скорректирован подход к нормированию выбросов загрязняющих веществ в атмосферный воздух. Разработка необходимых документов получила привязку к присвоенной категории объекта негативного воздействия:</p>
                        <ul>
                            <li>для объектов I категории НВОС в составе заявки на комплексное экологическое разрешение (КЭР) производится расчет нормативов высокотоксичных веществ, веществ, обладающих канцерогенными, мутагенными свойствами (веществ I, II класса опасности), а также расчет технологических нормативов;</li>
                            <li>для объектов II категории НВОС расчет нормативов допустимых выбросов производится в составе декларации о воздействии на окружающую среду (ДВОС);</li>
                            <li>для объектов III категории НВОС рассчитываются нормативы высокотоксичных веществ, веществ, обладающих канцерогенными, мутагенными свойствами (веществ I, II класса опасности);</li>
                            <li>для объектов IV категории НВОС выбросы в атмосферный воздух не нормируются.</li>
                        </ul>
                        <p>Учитывая неготовность нормативно-правовой базы к реализации новой стратегии государства в сфере экологического нормирования, были приняты переходные положения законодательства.</p>
                        <p>В соответствии с п. 3 ст. 2 Федерального закона «О внесении изменений в статью 14 Федерального закона «Об экологической экспертизе» и Федеральный закон «О внесении изменений в Федеральный закон «Об охране окружающей среды» и отдельные законодательные акты Российской Федерации» от 25.12.2018 г. № 496-ФЗ с 1 января 2019 года и до получения комплексных экологических разрешений допускается выдача или переоформление разрешений на выброс загрязняющих веществ в атмосферу по действовавшей до 2019 года схеме. Такие разрешения и документы действуют до дня получения комплексного экологического разрешения.</p>
                        <p>С 1 января 2021 г. вступило в силу Постановление Правительства РФ «О предельно допустимых выбросах, временно разрешенных выбросах, предельно допустимых нормативах вредных физических воздействий на атмосферный воздух и разрешениях на выбросы загрязняющих веществ в атмосферный воздух» от 09.12.2020 г. № 2055.</p>
                        <p>Согласно п. 9 Положения о предельно допустимых выбросах, временно разрешенных выбросах, предельно допустимых нормативах вредных физических воздействий на атмосферный воздух и разрешениях на выбросы загрязняющих веществ в атмосферный воздух, утвержденного Постановлением Правительства РФ от 09.12.2020 № 2055, нормативы допустимых выбросов разрабатываются (рассчитываются) юридическими лицами и индивидуальными предпринимателями, осуществляющими хозяйственную и (или) иную деятельность на объектах I, II и III категорий. При этом согласно п. 10 данного Положения, нормативы допустимых выбросов утверждаются при наличии санитарно-эпидемиологического заключения о соответствии указанных нормативов санитарным правилам.</p>
                        <p>В настоящий момент разработка проекта ПДВ для предприятий I-III категории НВОС позволяет решить следующие задачи:</p>
                        <ul>
                            <li>проведение инвентаризации стационарных источников выбросов загрязняющих веществ в атмосферный воздух (требование Приказа Минприроды России от 19.11.2021 г. № 871, остается неизменным вне зависимости от присвоенной категории НВОС);</li>
                            <li>расчет нормативов ПДВ (выполнение требования ст. 22 Федерального закона «Об охране окружающей среды» от 10.01.2002 г. № 7-ФЗ);</li>
                            <li>расчет рассеивания загрязняющих веществ в атмосфере (доказательство непревышения санитарно-гигиенических критериев качества атмосферного воздуха);</li>
                            <li>составление плана-графика контроля стационарных источников выбросов (необходимо для программы производственного экологического контроля (ПЭК), см. Приказ Минприроды России от 18.02.2022 г. № 109 «Об утверждении требований к содержанию программы производственного экологического контроля, порядка и сроков представления отчета об организации и о результатах осуществления производственного экологического контроля»);</li>
                            <li>составление плана снижения выбросов при неблагоприятных метеоусловиях (НМУ);</li>
                            <li>согласование в уполномоченных на то государственных органах и организациях.</li>
                        </ul>
                        <h3>Ответственность</h3>
                        <ul>
                            <li>ст. 8.1 КоАП РФ – штраф на юридических лиц до 100 тыс. руб.</li>
                            <li>ст. 8.21 КоАП РФ – штраф на юридических лиц до 250 тыс. руб. или приостановка деятельности на срок до 90 суток (для объектов I категории НВОС).</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 col-xl-3">
                    <aside class="bg-white shadow rounded text-center">
                        <dl class="mb-0">
                            <dt class="fw-light text-uppercase mb-2 pt-4">Сроки исполнения</dt>
                            <dd class="h4 border-bottom mb-0 pb-4">до 60 дней</dd>
                            <dt class="fw-light text-uppercase mb-2 pt-4">Стоимость</dt>
                            <dd class="h4 border-bottom mb-0 pb-4">от 20 000 руб.</dd>
                            <dt class="fw-light text-uppercase mb-2 pt-4">Рейтинг</dt>
                            <dd class="h4 mb-0 pb-4">4.5/5.0</dd>
                        </dl>
                    </aside>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}