{% extends 'index.html' %}
{% block title %}Постановка на учет объектов НВОС{% endblock title %}
{% block content %}
    <main id="main">
        <!-- Hero -->
        <div class="position-relative d-flex align-items-center text-white min-vh-75 overflow-hidden"
             style="background: linear-gradient(360deg, #066ac9 0%, #064f8a 100%)">
            <div class="container mb-5 py-5">
                <div class="col-lg-10 text-center mx-auto">
                    <h1 class="display-4 mb-4">Постановка на учет объектов негативного воздействия</h1>
                    <p class="lead">Это процесс регистрации предприятий и организаций в государственных органах, осуществляющих контроль за охраной окружающей среды.</p>
                    <a class="btn btn-light btn-lg rounded-pill" href="#">Подать заявку</a>
                </div>
            </div>
        </div>

        <div class="container py-3 pt-lg-4">
            <div class="row justify-content-around align-items-start gy-4">
                <div class="col-md-8 col-xl-7">
                    <h2>Об услуге</h2>
                    <p class="lead">
                        Постановка на учет объектов негативного воздействия (далее - НВОС) – одно из ключевых требований экологического законодательства, на котором базируется разделение ответственности природопользоваталей в части разработки документации по охране окружающей среды.
                    </p>
                    <div class="theme-description">
                        <h3>Описание:</h3>
                        <p>Кроме того, в связи с обязательным применением риск-ориентированного подхода при осуществлении контрольно-надзорных мероприятий как федерального, так и регионального уровня, от категории объекта НВОС зависит также периодичность проведения плановых проверок.</p>
                        <p>Постановка на учет объектов НВОС осуществляется во исполнение статьи 69.2 Федерального закона от 10.01.2002 г. № 7-ФЗ «Об охране окружающей среды».</p>
                        <p>При этом объекты НВОС разделяются по степени негативного воздействия на окружающую среду на I-IV категории, критерии определения которых утверждены Постановлением Правительства РФ от 31.12.2020 г. № 2398 «Об утверждении критериев отнесения объектов, оказывающих негативное воздействие на окружающую среду, к объектам I, II, III и IV категорий».</p>
                        <p>В соответствии с новыми критериями постановки на учет, любая площадка, даже не имеющая источников выбросов загрязняющих веществ в атмосферу, должна быть поставлена на учет как объект НВОС.</p>
                        <p>Категория НВОС документально подтверждается свидетельством о постановке объекта НВОС на государственный учет, которое выдается соответствующим территориальным органом Росприроднадзора (для федеральных объектов) или уполномоченным органом субъекта Российской Федерации (для региональных объектов).</p>
                        <p>Уровень государственного реестра (федеральный или региональный), в который будет поставлен объект НВОС на учет, определяется в соответствии с требованиями Постановления Правительства РФ от 30.06.2021 г. № 1096.</p>
                        <p>Правильность постановки на учет объекта НВОС в последующем определяет:</p>
                        <ul>
                            <li>размер платы за негативное воздействие на окружающую среду (статья 16 Федерального закона от 10.01.2002 г. № 7-ФЗ);</li>
                            <li>нормативы допустимого воздействия на окружающую среду, а также обязанность по утверждению планов мероприятий по охране окружающей среды или программ повышения экологической эффективности (статьи 22-27 Федерального закона от 10.01.2002 г. № 7-ФЗ);</li>
                            <li>обязанность хозяйствующих субъектов по утверждению и исполнению программ производственного экологического контроля (статья 67 Федерального закона от 10.01.2002 г. № 7-ФЗ);</li>
                            <li>обязанность хозяйствующих субъектов, эксплуатирующих объекты НВОС I категории, по применению наилучших доступных технологий (статья 4.2 Федерального закона от 10.01.2002 г. № 7-ФЗ, Распоряжение Правительства РФ от 24.12.2014 г. № 2674-р «Об утверждении Перечня областей применения наилучших доступных технологий»).</li>
                        </ul>
                        <p>В соответствии с требованиями п. 2 ст. 69.2 Федерального закона от 10.01.2002 № 7-ФЗ «Об охране окружающей среды» все предприятия и организации должны выполнить обязанность о постановке на учет в качестве объекта НВОС не позднее чем в течение шести месяцев со дня начала эксплуатации.</p>
                        <h3>Ответственность</h3>
                        <p>Невыполнение указанных требований влечет наложение административного штрафа до 100 тыс. руб. в соответствии со статьей 8.46 КоАП РФ.</p>
                    </div>
                </div>

                <div class="col-md-4 col-xl-3">
                    <aside class="bg-white shadow rounded text-center">
                        <dl class="mb-0">
                            <dt class="fw-light text-uppercase mb-2 pt-4">Сроки исполнения</dt>
                            <dd class="h4 border-bottom mb-0 pb-4">до 60 дней</dd>
                            <dt class="fw-light text-uppercase mb-2 pt-4">Стоимость</dt>
                            <dd class="h4 border-bottom mb-0 pb-4">от 20 000 руб.</dd>
                            <dt class="fw-light text-uppercase mb-2 pt-4">Рейтинг</dt>
                            <dd class="h4 mb-0 pb-4">4.5/5.0</dd>
                        </dl>
                    </aside>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}