{% extends 'index.html' %}
{% block description %}
    <meta name="description" content="Инвентаризация источников выбросов - это процесс сбора и анализа данных о
    выбросах загрязняющих веществ от различных источников на предприятии. Это необходимо для оценки воздействия
    деятельности предприятия на окружающую среду и разработки мер по снижению выбросов. Инвентаризация проводится в
    соответствии с законодательством и позволяет предприятию контролировать свои выбросы и снижать негативное
    воздействие на окружающую среду.">
{% endblock description %}
{% block title %}Инвентаризация источников{% endblock title %}
{% block content %}
    <main id="main">
        <!-- Hero -->
        <div class="position-relative d-flex align-items-center text-white min-vh-75 overflow-hidden"
             style="background: linear-gradient(360deg, #066ac9 0%, #064f8a 100%)">
            <div class="container mb-5 py-5">
                <div class="col-lg-10 text-center mx-auto">
                    <h1 class="display-4 mb-4">Инвентаризация источников и выбросов загрязняющих веществ в атмосферный воздух</h1>
                    <p class="lead">Это обязательная процедура определения и систематизации данных о выбросах в атмосферный воздух хозяйствующего субъекта (предприятия или организации).</p>
                    <a class="btn btn-light btn-lg rounded-pill" href="#">Подать заявку</a>
                </div>
            </div>
        </div>

        <div class="container py-3 pt-lg-4">
            <div class="row justify-content-around align-items-start gy-4">
                <div class="col-md-8 col-xl-7">
                    <h2>Об услуге</h2>
                    <p class="lead">Инвентаризация является базовым понятием системы государственного регулирования в сфере охраны окружающей среды и служит основой для множества других работ: определения категории объекта НВОС, проекта ПДВ, мероприятий в период НМУ, проекта СЗЗ и др.</p>
                    <div class="theme-description">
                        <h3>Описание:</h3>
                        <p>В соответствии с требованиями законодательства проведение инвентаризации источников и выбросов загрязняющих веществ в атмосферу является обязанностью для всех предприятий и организаций, имеющих выбросы в атмосферный воздух.</p>
                        <p>Необходимость проведения инвентаризации не зависит от количества и состава источников выбросов, а также от отнесения к категории объектов НВОС!</p>
                        <p>В процессе проведения инвентаризации источников и выбросов загрязняющих веществ в атмосферу определяется количественный и качественный состав выбросов, но не проводится расчет рассеивания выбросов в атмосферном воздухе. Указанный расчет выполняется в проекте ПДВ и в ряде других работ, выполняемых на основе материалов инвентаризации.</p>
                        <p>Для определения показателей выбросов используются преимущественно инструментальные методы (замеры на источниках выбросов), при использовании расчетных методов требуется обязательное обоснование.</p>
                        <p>В связи с выходом Приказа Минприроды России от 19.11.2021 г. № 871, определяющего новые требования к порядку инвентаризации, все юридические лица и индивидуальные предприниматели после 01.03.2023 г. обязаны иметь отчет об инвентаризации стационарных источников и выбросов загрязняющих веществ в атмосферу, выполненный по новой форме!</p>
                        <p>Основным документом, определяющим необходимость проведения инвентаризации источников и выбросов загрязняющих веществ в атмосферу, является Федеральный закон от 04.05.1999 г. № 96-ФЗ «Об охране атмосферного воздуха». В соответствии со ст. 22, 30 данного документа юридические лица и индивидуальные предприниматели, имеющие источники выбросов загрязняющих веществ в атмосферный воздух, обязаны обеспечивать проведение инвентаризации.</p>
                        <p>Необходимо учитывать отсутствие взаимосвязи обязанности по проведению инвентаризации и присвоенной категории НВОС. Исходя из формулировок, указанных в Федеральном законе от 04.05.1999 г. № 96-ФЗ, требование о проведении инвентаризации в равной степени относится к любому предприятию или организации, имеющим источники выбросов загрязняющих веществ в атмосферу.</p>
                        <p>Такими источниками могут быть:</p>
                        <ul>
                            <li>дымоотводящие трубы (котельные, печи, топливосжигающее технологическое оборудование и т.д.);</li>
                            <li>системы вытяжной или общеобменной вентиляции (посты окрашивания, посты ремонта и обслуживания автотранспорта, экструзионные установки и т.д.);</li>
                            <li>места перегрузки и хранения сыпучих материалов;</li>
                            <li>технологические установки, оборудованные системами очистки газа и пыли;</li>
                            <li>неплотности технологического оборудования, через которые загрязняющие вещества поступают в атмосферный воздух;</li>
                            <li>оборудование, работающее на открытых площадках (пилорамы, сварочные посты и т.д.).</li>
                        </ul>
                        <p>С 1 ноября 2019 г. Федеральным законом от 26.07.2019 г. № 195-ФЗ были внесены изменения в п. 1 ст. 22 Федерального закона от 04.05.1999 г. № 96-ФЗ, что сделало обязательным также проведение инвентаризации передвижных источников загрязнения атмосферного воздуха.</p>
                        <p>Основными передвижными источниками загрязнения атмосферного воздуха являются:</p>
                        <ul>
                            <li>автомобильный транспорт;</li>
                            <li>железнодорожный транспорт;</li>
                            <li>строительная, сельскохозяйственная и иная техника.</li>
                        </ul>
                        <p>Согласно п. 3 ст. 22 Федерального закона от 04.05.1999 г. № 96-ФЗ для объектов, вводимых в эксплуатацию, инвентаризация проводится не позднее чем через 2 года после выдачи разрешения на ввод в эксплуатацию указанных объектов. Вместе с тем, рекомендуется выполнить инвентаризацию как можно раньше, так как ее материалы служат основой для постановки на учет объектов НВОС. Предельный срок для постановки на учет объектов НВОС составляет 6 месяцев с момента начала эксплуатации.</p>
                        <p>Порядок проведения инвентаризации источников и выбросов загрязняющих веществ в атмосферный воздух, корректировки ее данных, документирования и хранения данных, полученных в результате проведения таких инвентаризации и корректировки, утвержден Приказом Минприроды России от 19.11.2021 г. № 871.</p>
                        <p>Начало действия Приказа Минприроды России от 19.11.2021 г. № 871 - 01.03.2022 г.</p>
                        <p>В связи с тем, что инвентаризация источников и выбросов загрязняющих веществ в атмосферу ранее выполнялась совместно с проектом ПДВ, важно понимать, какие именно работы входят в состав инвентаризации, а какие - нет.</p>
                        <p>В составе работ по инвентаризации выполняются:</p>
                        <ul>
                            <li>анализ ранее разработанных документов;</li>
                            <li>анализ технологии, составление пояснительной записки;</li>
                            <li>детальное описание источников выбросов загрязняющих веществ в атмосферу, в том числе координат;</li>
                            <li>подготовка картографических материалов;</li>
                            <li>инструментальные замеры на источниках выбросов загрязняющих веществ в атмосферу;</li>
                            <li>определение количественных и качественных характеристик выбросов загрязняющих веществ в атмосферу;</li>
                            <li>формирование таблиц параметров и состава выбросов загрязняющих веществ в атмосферу;</li>
                            <li>составление отчета.</li>
                        </ul>
                        <p>При этом в состав инвентаризации не выходят следующие работы:</p>
                        <ul>
                            <li>проведение расчетов рассеивания выбросов загрязняющих веществ в атмосферном воздухе;</li>
                            <li>расчет нормативов выбросов загрязняющих веществ в атмосферу;</li>
                            <li>разработка мероприятий в период НМУ;</li>
                            <li>определение плана-графика контроля для ПЭК;</li>
                            <li>получение экспертного, санитарно-эпидемиологического заключений;</li>
                            <li>получение разрешения на выброс загрязняющих веществ в атмосферный воздух.</li>
                        </ul>
                        <p>В связи с переходным периодом по внедрению новых норм законодательства рекомендуем выполнять проект ПДВ, в процессе разработки которого не только проводится инвентаризация с составлением отчета по новой форме, но и осуществляются расчеты рассеивания загрязняющих веществ в атмосферном воздухе.</p>
                        <p>В соответствии с п. 18 Порядка, утвержденного Приказом Минприроды России от 19.11.2021 г. № 871, для определения показателей выбросов организованных источников используются преимущественно инструментальные методы.</p>
                        <p>В случае использования расчетных методов в отчет о результатах инвентаризации выбросов включается обоснование выбора и применения использованных методов.</p>
                        <p>Область применения расчетных методов (п. 26-28 Порядка, утвержденного Приказом Минприроды от 19.11.2021 г. № 871):</p>
                        <ul>
                            <li>отсутствие аттестованных методик измерения загрязняющего вещества;</li>
                            <li>отсутствие практической возможности забора проб для определения инструментальными методами в соответствии с требованиями действующих национальных стандартов;</li>
                            <li>отсутствие практической возможности проведения инструментальных измерений выбросов (например, высокая температура газовоздушной смеси, высокая скорость потока отходящих газов, сверхнизкое или сверхвысокое давление внутри газохода, отсутствие доступа к источнику);</li>
                            <li>неорганизованные и линейные стационарные источники;</li>
                            <li>ограниченное количество технологических процессов, с использованием результатов измерения отдельных характеристик источника выброса.</li>
                        </ul>
                        <p>Согласно п. 3 ст. 22 Федерального закона от 04.05.1999 г. № 96-ФЗ изменение требований к порядку проведения инвентаризации является основанием для корректировки данных инвентаризации. При этом п. 49 Порядка, утвержденного Приказом Минприроды России от 19.11.2021 г. № 871, установлена обязанность корректировки данных инвентаризации не позднее 1 года с момента возникновения соответствующих обстоятельств.</p>
                        <p>Таким образом, после 01.03.2023 г. все объекты, имеющие на своем балансе стационарные источники выбросов загрязняющих веществ в атмосферный воздух, обязаны иметь отчет по инвентаризации, выполненный по форме, установленной Приказом Минприроды России от 19.11.2021 г. № 871.</p>
                        <p>Важно учитывать, что указанное требование не зависит от необходимости или отсутствия необходимости нормирования выбросов в атмосферный воздух для конкретного объекта НВОС, наличия или отсутствия проекта ПДВ.</p>
                        <p>Другими основаниями для корректировки инвентаризации, в соответствии с п. 45, 46 Порядка, утвержденного Приказом Минприроды России от 19.11.2021 г. № 871, являются:</p>
                        <ul>
                            <li>изменение технологических процессов и режимов работы технологического оборудования и ГОУ, включая установку ГОУ на ИЗАВ, ввод в эксплуатацию или ликвидацию ИЗАВ;</li>
                            <li>изменение объемов производства;</li>
                            <li>реконструкция, модернизация ГОУ, приводящая к изменению состава, объема и массы выбросов;</li>
                            <li>изменение максимально разовых выбросов более чем на 25% или валовых выбросов более чем на 10%.</li>
                        </ul>
                        <p>	В случае возникновения указанных обстоятельств материалы инвентаризации также должны быть откорректированы в течение 1 года.</p>
                        <p>В соответствии со п. 1 ст. 22 Федерального закона от 04.05.1999 г. № 96-ФЗ юридические лица и индивидуальные предприниматели, ведущие хозяйственную деятельность на объектах, оказывающих негативное воздействие на окружающую среду, обязаны проводить инвентаризацию источников и выбросов загрязняющих веществ в атмосферу, включая выбросы от стационарных и передвижных источников.</p>
                        <p>Вместе с тем, порядок, утвержденный ранее действовавшим Приказом Минприроды России от 07.08.2018 г. № 352, распространял свое действие исключительно на стационарные источники. Вопрос учета передвижных источников в законодательстве определен не был. До внесения изменений в указанные требования в составе работ по инвентаризации выбросов выполнялись два отчета, соответственно для стационарных и передвижных источников выбросов.</p>
                        <p>В связи со вступлением в силу Приказа Минприроды России от 19.11.2021 г. № 871 выбросы от стационарных и передвижных источников нужно теперь учитывать в одном отчете по инвентаризации, по установленной форме.</p>
                        <h3>Ответственность</h3>
                        <p>За несоблюдение требований по проведению инвентаризации источников и выбросов загрязняющих веществ в атмосферу возможны административные штрафы по следующим статьям КоАП РФ:</p>
                        <ul>
                            <li>ст. 8.1 - штраф до 100 тыс. руб. (несоблюдение экологических требований при эксплуатации зданий, строений, сооружений);</li>
                            <li>ст. 8.5 - штраф до 80 тыс. руб. (сокрытие, умышленное искажение или несвоевременное сообщение полной и достоверной информации об источниках загрязнения окружающей среды)</li>
                        </ul>
                        <p>Важно понимать, что в случае неправильно проведенной инвентаризации под сомнение могут быть поставлены множество других обязательных природоохранных документов.</p>
                        <p>В этом случае штрафы могут исчисляться сотнями тысяч рублей.</p>
                    </div>
                </div>

                <div class="col-md-4 col-xl-3">
                    <aside class="bg-white shadow rounded text-center">
                        <dl class="mb-0">
                            <dt class="fw-light text-uppercase mb-2 pt-4">Сроки исполнения</dt>
                            <dd class="h4 border-bottom mb-0 pb-4">до 40 дней</dd>
                            <dt class="fw-light text-uppercase mb-2 pt-4">Стоимость</dt>
                            <dd class="h4 border-bottom mb-0 pb-4">от 30 000 руб.</dd>
                            <dt class="fw-light text-uppercase mb-2 pt-4">Рейтинг</dt>
                            <dd class="h4 mb-0 pb-4">4.5/5.0</dd>
                        </dl>
                    </aside>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}