{% extends 'index.html' %}
{% block title %}Паспорт отходов{% endblock title %}
{% block content %}
    <main id="main">
        <!-- Hero -->
        <div class="position-relative d-flex align-items-center text-white min-vh-75 overflow-hidden"
             style="background: linear-gradient(360deg, #066ac9 0%, #064f8a 100%)">
            <div class="container mb-5 py-5">
                <div class="col-lg-10 text-center mx-auto">
                    <h1 class="display-4 mb-4">Паспорт отходов</h1>
                    <p class="lead">Это документ, который содержит информацию о свойствах отходов, их опасности для окружающей среды и здоровье человека, а также рекомендации по обращению с ними.</p>
                    <a class="btn btn-light btn-lg rounded-pill" href="#">Подать заявку</a>
                </div>
            </div>
        </div>

        <div class="container py-3 pt-lg-4">
            <div class="row justify-content-around align-items-start gy-4">
                <div class="col-md-8 col-xl-7">
                    <h2>Об услуге</h2>
                    <p class="lead">В соответствии с требованиями ст. 14 Федерального закона от 24.06.1998 г. № 89-ФЗ «Об отходах производства и потребления» индивидуальные предприниматели, юридические лица, в процессе деятельности которых образуются отходы I-V классов опасности, обязаны осуществить отнесение соответствующих отходов к конкретному классу опасности. При этом на отходы I-IV классов опасности должны быть разработаны паспорта отходов.
                    </p>
                    <div class="theme-description">
                        <h3>Описание:</h3>
                        <p>C 1 января 2021 года вступил в силу ряд нормативно-правовых актов в сфере обращения с отходами:</p>
                        <ul>
                            <li>Приказ Минприроды России от 08.12.2020 г. № 1026 «Об утверждении порядка паспортизации и типовых форм паспортов отходов I-IV классов опасности».</li>
                            <li>Приказ Минприроды России от 08.12.2020 г. № 1027 «Об утверждении порядка подтверждения отнесения отходов I-V классов опасности к конкретному классу опасности».</li>
                            <li>Приказ Минприроды России от 08.12.2020 г. № 1028 «Об утверждении Порядка учета в области обращения с отходами».</li>
                        </ul>
                        <p>Согласно положениям законодательства, паспортизация отходов является обязательной для всех предприятий и организаций, в процессе деятельности которых образуются отходы I-IV классов опасности. Данное требование не зависит от состава и вида отходов и присвоенной категории объектов НВОС!</p>
                        <p>С 01.01.2021 г. порядок паспортизации отходов различен в зависимости от того, включен или не включен конкретный вид отхода в Федеральный классификационный каталог отходов (ФККО).</p>
                        <p>Кроме того, для отходов I-V классов опасности, не включенных в ФККО, необходимо подтверждение отнесения отходов I-V классов опасности к конкретному классу опасности.</p>
                        <p>Неисполнение обязанности по отнесению отходов производства и потребления I-V классов опасности к конкретному классу опасности для подтверждения такого отнесения или составлению паспортов отходов I-IV классов опасности может повлечь наложение административного штрафа до 350 тысяч руб. в соответствии с п. 9 ст. 8.2 КоАП РФ.</p>
                        <p>Вместе с тем, вступление в силу новых требований к паспортизации отходов не является основанием для переделки ранее разработанных паспортов. Поэтому в случае, если предприятием или организацией паспорта отходов были разработаны до 01.01.2021 г. и, согласно ранее действовавшему Постановлению Правительства РФ от 16.08.2013 г. № 712, копии паспортов были направлены в территориальный орган Росприроднадзора, - то процедура паспортизации отходов считается выполненной, необходимость делать новые паспорта - отсутствует. Однако если паспорта ранее не были разработаны, или были разработаны, но не были переданы в Росприроднадзор - в этом случае необходимо выполнить паспортизацию отходов согласно актуальным требованиям.</p>
                        <h3>Паспортизация отходов, включенных в ФККО</h3>
                        <p>Паспортизация отходов выполняется согласно положениям Приказа Минприроды России от 08.12.2020 г. № 1026.</p>
                        <p>Паспорт отхода, включенного в ФККО, составляется и утверждается индивидуальными предпринимателями и юридическими лицами по типовой форме паспорта отходов I - IV классов опасности, включенных в ФККО, согласно Приложению № 2 к данному Приказу.</p>
                        <p>Паспорт отходов I-IV классов опасности составляется на основании данных о составе и свойствах отходов, а также оценки их опасности в зависимости от степени негативного воздействия на окружающую среду.</p>
                        <p>С 01.01.2021 г. подача паспорта отхода, включенного в ФККО, в территориальные органы Росприроднадзора не требуется. Индивидуальные предприниматели и юридические лица обязаны обеспечить хранение составленных паспортов отходов.</p>
                        <h3>Паспортизация отходов, не включенных в ФККО</h3>
                        <p>Паспортизация отходов, не включенных в ФККО - сложная процедура, включающая несколько этапов, последовательность и сроки выполнения которых определены Приказами Минприроды России № 1026 и № 1027.</p>
                        <p>В первую очередь, в течение 90 рабочих дней со дня установления, по результатам проведения учета отходов, образования отхода, не включенного в ФККО, а также со дня изменения технологического процесса или вида деятельности, приводящих к изменению видов образующихся отходов, юридическим лицам и ИП следует подготовить документы и материалы обоснования отнесения отходов I-V классов опасности к конкретному классу и направить их в территориальный орган Росприроднадзора.</p>
                        <p>Материалы отнесения отходов, направляемые в территориальный орган Росприроднадзора, содержат ведения о происхождении отходов по исходному сырью и по принадлежности к определенному производству, технологическому процессу; документы, подтверждающие химический и (или) компонентный состав вида отходов; копию акта отбора проб отхода, проведенного аккредитованной испытательной лабораторией (центром).</p>
                        <p>Затем, результате рассмотрения представленных материалов территориальный орган Росприроднадзора подтверждает отнесение отходов к конкретному классу опасности. В срок не позднее 30 календарных дней со дня получения указанной информации со стороны Росприроднадзора юридическими лицами и ИП составляется и утверждается паспорт отходов, не включенных в ФККО. Паспорт отхода, не включенного в ФККО, составляется по типовой форме паспорта отходов I - IV классов опасности, не включенных в ФККО.</p>
                        <p>После этого территориальный орган Росприроднадзора включает отход в ФККО. Результатом выполнения работ на данном этапе является уведомление о включении данного вида отходов в ФККО и БДО с указанием присвоенного наименования вида отходов и кода по ФККО. В течение 30 календарных дней с даты включения соответствующего вида отходов в ФККО индивидуальные предприниматели и юридические лица переоформляют паспорт отходов, не включенных в ФККО,  на паспорт отходов, включенных в ФККО.</p>
                        <h3>Ответственность</h3>
                        <p>Отсутствие паспортов отходов может грозить для юридических лиц существенными штрафными санкциями:  до 350 тыс. руб. по ст. 8.2 КоАП РФ.</p>
                    </div>
                </div>

                <div class="col-md-4 col-xl-3">
                    <aside class="bg-white shadow rounded text-center">
                        <dl class="mb-0">
                            <dt class="fw-light text-uppercase mb-2 pt-4">Сроки исполнения</dt>
                            <dd class="h4 border-bottom mb-0 pb-4">до 14 дней</dd>
                            <dt class="fw-light text-uppercase mb-2 pt-4">Стоимость</dt>
                            <dd class="h4 border-bottom mb-0 pb-4">от 2 500 руб.</dd>
                            <dt class="fw-light text-uppercase mb-2 pt-4">Рейтинг</dt>
                            <dd class="h4 mb-0 pb-4">4.5/5.0</dd>
                        </dl>
                    </aside>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}