{% extends 'app_prof_dev/base.html' %}
{% block title %}Новости{% endblock title %}
{% block content %}
    <div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Новости</h2>

        <div class="row g-4 py-3 row-cols-1 row-cols-lg-3">
            {% for post in posts %}
            <div class="col">
                <div class="card h-100 shadow p-3 mb-5 bg-white rounded">
                    <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}" style="width: 100%; height: 15vw; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.body|truncatewords:20 }}</p>
                        <a href="{% url 'app_news:post_detail' post.pk %}" class="card-link">Читать далее...</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Последнее обновление {{ post.updated }}</small>
                    </div>
                </div>
            </div>

{% endfor %}
        </div>
</div>
{% endblock content %}