{% extends 'app_prof_dev/base.html' %}
{% block title %}{{ category.title }}{% endblock title %}
{% block content %}

<div class="container-fluid">
    <div class="container px-4 py-4">
    <h2 class="pb-4 border-bottom">{{ category.title }}</h2>
        {% for program in programs %}
        <div class="p-3 py-4 text-center bg-body-tertiary rounded-3 border-bottom">
            <h4 class="text-body-emphasis">{{ program.title }}</h4>
            {% if program.code_num %}
            <p class="lead">
                Код профессии: {{ program.code_num }}
            </p>
        {% endif %}
        {% if  program.class_num %}
        <p class="lead">
                Присвоенный разряд: {{ program.class_num }}
            </p>
        {% endif %}
        </div>
    {% endfor %}
    </div>
</div>
{% endblock content %}