{% extends 'app_prof_dev/base.html' %}

{% block title %}Профессиональная переподготовка{% endblock title %}
{% block content %}
<div class="container-fluid p-0">
    <main>
        <div class="container px-4 py-4" id="custom-cards">
            <h2 class="pb-2 border-bottom">Профессиональная переподготовка</h2>
            <div class="row row-cols-1 row-cols-lg-2 align-items-stretch g-4 py-5">
                {% for category in categories %}
                    <div class="col">
                        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                             style="background-image: url({{ category.image.url }}); background-size: cover;  background-color: rgba(0,0,0,.0);
                                     background-blend-mode: difference;">
                            <div class="d-flex flex-column h-100 p-5 pb-3 text-light text-shadow-1">
                                <a href="{% url 'app_prof_retraining:program_list' category.slug %}"
                                   class="text-decoration-none link-light"><h3
                                        class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{ category.title }}</h3></a>
                                <ul class="d-flex list-unstyled mt-auto">
                                    <li class="me-auto">
                                        <img src="/media/nav_menu/Logo.png" alt="Логотип" width="32" height="32"
                                             class="rounded-circle border border-white">
                                    </li>
                                    <li class="d-flex align-items-center me-3">
                                        <small>В категории {{ category.programs.count }} программ</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
</div>
{% endblock content %}